<a href="https://colab.research.google.com/github/supriyakale81/Pandas/blob/main/EMPLOYEE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import numpy as np
import pandas as pd

In [3]:
# read dataset
df = pd.read_csv("/content/drive/MyDrive/datasets/Employee.csv")
df

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot
0,Bachelors,2017,Bangalore,3,34,Male,No,0,0
1,Bachelors,2013,Pune,1,28,Female,No,3,1
2,Bachelors,2014,New Delhi,3,38,Female,No,2,0
3,Masters,2016,Bangalore,3,27,Male,No,5,1
4,Masters,2017,Pune,3,24,Male,Yes,2,1
...,...,...,...,...,...,...,...,...,...
4648,Bachelors,2013,Bangalore,3,26,Female,No,4,0
4649,Masters,2013,Pune,2,37,Male,No,2,1
4650,Masters,2018,New Delhi,3,27,Male,No,5,1
4651,Bachelors,2012,Bangalore,3,30,Male,Yes,2,0
4652,Bachelors,2015,Bangalore,3,33,Male,Yes,4,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4653 entries, 0 to 4652
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Education                  4653 non-null   object
 1   JoiningYear                4653 non-null   int64
 2   City                       4653 non-null   object
 3   PaymentTier                4653 non-null   int64
 4   Age                        4653 non-null   int64
 5   Gender                     4653 non-null   object
 6   EverBenched                4653 non-null   object
 7   ExperienceInCurrentDomain  4653 non-null   int64
 8   LeaveOrNot                 4653 non-null   int64
dtypes: int64(5), object(4)
memory usage: 327.3+ KB

In [5]:
# chek missing values
df.isna().sum()

Education                    0
JoiningYear                  0
City                         0
PaymentTier                  0
Age                          0
Gender                       0
EverBenched                  0
ExperienceInCurrentDomain    0
LeaveOrNot                   0
dtype: int64

### Find Bachelore from pune and banglore who is under age 30.

In [6]:
d1=df.loc[((df['City']=='Bangalore')|(df['City']=='Pune'))& (df['Age']<30)&(df['Education']=='Bachelors')]
d1['Education'].value_counts()

Bachelors    1963
Name: Education, dtype: int64

### Increased experience by 1 and add  column new experience in dataset

In [7]:
new=[]
for x in df['ExperienceInCurrentDomain']:
    x=x+1
    new.append(x)
# print(new)

In [8]:
df['NewExperience']=new

In [9]:
df.head()

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot,NewExperience
0,Bachelors,2017,Bangalore,3,34,Male,No,0,0,1
1,Bachelors,2013,Pune,1,28,Female,No,3,1,4
2,Bachelors,2014,New Delhi,3,38,Female,No,2,0,3
3,Masters,2016,Bangalore,3,27,Male,No,5,1,6
4,Masters,2017,Pune,3,24,Male,Yes,2,1,3

In [10]:
df.Education.unique()

array(['Bachelors', 'Masters', 'PHD'], dtype=object)

### Compare bachelors and masters in 2014 to 2018 with male and females.

In [11]:
d2=df.loc[((df['JoiningYear']<=2018)&(df['JoiningYear']>=2014))&(df['Education']!='PHD')]
d2.groupby('Gender')['Education'].value_counts()

Gender  Education
Female  Bachelors    1065
        Masters       322
Male    Bachelors    1564
        Masters       404
Name: Education, dtype: int64

### Make a category of junior and senior 
### if ExperienceInCurrentDomain <= 3 ---> Junior
### if ExperienceInCurrentDomain >3 ---> senior

In [12]:
ExpCat=[]
for x in df['ExperienceInCurrentDomain']:
    if x<=3:
        ExpCat.append('Junior')
    else:
        ExpCat.append('Senior')

In [13]:
df['ExperienceCategory']=ExpCat

In [14]:
df[['ExperienceCategory','Gender','Education']].value_counts()

ExperienceCategory  Gender  Education
Junior              Male    Bachelors    1274
Senior              Male    Bachelors     892
Junior              Female  Bachelors     852
Senior              Female  Bachelors     583
Junior              Male    Masters       309
                    Female  Masters       242
Senior              Male    Masters       193
                    Female  Masters       129
Junior              Male    PHD            66
Senior              Male    PHD            44
Junior              Female  PHD            43
Senior              Female  PHD            26
dtype: int64

In [16]:
df.pivot_table(index='Gender',values=['ExperienceCategory','Education'],aggfunc='count')

        Education  ExperienceCategory
Gender
Female       1875                1875
Male         2778                2778

In [17]:
##3)

Ins=[]
for x in df['Age']:
    if 'Female' in(df['Gender']):
        if (20<=x<=27):
            i=3000+(3000*10/100)
            Ins.append(i)
        elif 27<x<=35:
            i=5000+(5000*12/100)
            Ins.append(i)
        elif x>35:
            i=9000+(9000*15/100)
            Ins.append(i)
    else:
        if (20<=x<=27):
            Ins.append(3000)
        elif 27<x<=35:
            Ins.append(5000)
        elif x>35:
            Ins.append(9000)

In [18]:
Ins=[]
for x in df['Age']:
    if (20<=x<=27):
        if 'Female' in df['Gender']: 
            i=3000+(3000*10/100)
            Ins.append(i)
        else:
            Ins.append(3000) 
    elif 27<x<=35:
        if 'Female' in df['Gender']:
            i=5000+(5000*12/100)
            Ins.append(i)
        else:
            Ins.append(5000)
    elif x>35:
        if 'Female' in df['Gender']:
            i=9000+(9000*15/100)
            Ins.append(i)
        else:
            Ins.append(3000)

In [19]:
print(Ins)

[5000, 5000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 5000, 5000, 3000, 3000, 5000, 5000, 5000, 5000, 3000, 3000, 5000, 3000, 3000, 5000, 3000, 3000, 3000, 5000, 5000, 3000, 3000, 3000, 3000, 3000, 5000, 5000, 5000, 5000, 5000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 5000, 5000, 5000, 5000, 3000, 5000, 5000, 5000, 5000, 3000, 3000, 5000, 3000, 5000, 5000, 3000, 3000, 5000, 3000, 3000, 5000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 5000, 5000, 5000, 5000, 3000, 5000, 3000, 3000, 3000, 5000, 3000, 5000, 3000, 3000, 3000, 3000, 5000, 5000, 5000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 5000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 5000, 3000, 5000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 5000, 5000, 3000, 3000, 3000, 5000, 3000, 3000, 5000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 5000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 5000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 5000, 3000, 3000, 5000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 5000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 5000, 3000, 3000, 5000, 3000, 3000, 3000, 5000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 5000, 3000, 5000, 3000, 3000, 5000, 5000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 5000, 3000, 5000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 5000, 5000, 3000, 3000, 3000, 5000, 3000, 3000, 5000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 5000, 5000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 5000, 5000, 3000, 3000, 3000, 3000, 5000, 5000, 3000, 3000, 5000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 5000, 3000, 3000, 5000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 5000, 3000, 3000, 3000, 5000, 3000, 5000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 5000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 5000, 5000, 3000, 5000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 5000, 5000, 3000, 5000, 3000, 3000, 3000, 5000, 3000, 3000, 5000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 5000, 3000, 3000, 5000, 5000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 5000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 5000, 3000, 3000, 5000, 5000, 3000, 3000, 3000, 5000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 5000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 5000, 5000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 5000, 3000, 5000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 5000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 5000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 5000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 5000, 5000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 5000, 3000, 5000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 5000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 5000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 5000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 5000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 5000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 5000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 5000, 5000, 3000, 3000, 5000, 3000, 3000, 5000, 3000, 3000, 3000, 5000, 3000, 5000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 5000, 3000, 5000, 3000, 5000, 3000, 3000, 5000, 5000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 5000, 3000, 3000, 5000, 5000, 5000, 3000, 5000, 3000, 5000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 5000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 5000, 3000, 3000, 3000, 5000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 5000, 3000, 3000, 3000, 5000, 5000, 5000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 5000, 3000, 3000, 5000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 5000, 3000, 3000, 3000, 5000, 5000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 5000, 5000, 5000, 3000, 3000, 5000, 3000, 3000, 5000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 5000, 3000, 3000, 5000, 3000, 3000, 5000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 5000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 5000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 5000, 5000, 3000, 5000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 5000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 5000, 3000, 5000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 5000, 5000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 5000, 5000, 3000, 3000, 5000, 3000, 3000, 5000, 3000, 3000, 5000, 5000, 3000, 5000, 3000, 3000, 3000, 3000, 5000, 3000, 5000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 5000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 5000, 5000, 3000, 5000, 3000, 3000, 3000, 3000, 5000, 5000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 5000, 5000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 5000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 5000, 5000, 3000, 3000, 5000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 5000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 5000, 3000, 3000, 5000, 3000, 5000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 5000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 5000, 5000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 5000, 5000, 3000, 3000, 3000, 5000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 5000, 3000, 3000, 3000, 3000, 3000, 5000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 5000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 5000, 3000, 5000, 3000, 3000, 5000, 3000, 3000, 3000, 5000, 5000, 3000, 3000, 5000, 3000, 3000, 5000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 5000, 5000, 5000, 5000, 5000, 3000, 5000, 3000, 3000, 3000, 5000, 3000, 5000, 5000, 3000, 3000, 5000, 5000, 3000, 5000, 3000, 3000, 3000, 5000, 5000, 3000, 5000, 5000, 3000, 5000, 3000, 3000, 5000, 3000, 5000, 3000, 5000, 5000, 5000, 3000, 5000, 5000, 5000, 5000, 3000, 3000, 5000, 3000, 3000, 5000, 3000, 5000, 3000, 3000, 5000, 3000, 5000, 3000, 5000, 5000, 5000, 3000, 3000, 5000, 3000, 5000, 3000, 5000, 5000, 5000, 5000, 5000, 5000, 3000, 5000, 3000, 5000, 3000, 5000, 3000, 5000, 5000, 3000, 5000, 3000, 5000, 5000, 5000, 3000, 5000, 3000, 5000, 3000, 5000, 5000, 3000, 5000, 5000, 3000, 5000, 5000, 3000, 3000, 5000, 5000, 3000, 3000, 5000, 5000, 3000, 3000, 5000, 3000, 3000, 5000, 5000, 5000, 5000, 5000, 3000, 5000, 5000, 3000, 3000, 5000, 5000, 5000, 5000, 3000, 3000, 3000, 3000, 5000, 3000, 5000, 5000, 5000, 3000, 5000, 5000, 5000, 5000, 3000, 3000, 5000, 5000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 5000, 5000, 5000, 3000, 5000, 5000, 3000, 5000, 3000, 3000, 5000, 5000, 5000, 3000, 3000, 3000, 5000, 5000, 5000, 5000, 5000, 3000, 3000, 3000, 5000, 5000, 5000, 5000, 5000, 5000, 5000, 5000, 3000, 3000, 5000, 5000, 5000, 3000, 5000, 3000, 5000, 3000, 5000, 5000, 3000, 5000, 5000, 5000, 5000, 5000, 5000, 5000, 5000, 3000, 5000, 3000, 5000, 5000, 5000, 5000, 5000, 3000, 5000, 5000, 3000, 5000, 5000, 5000, 3000, 5000, 5000, 5000, 3000, 5000, 5000, 3000, 5000, 5000, 5000, 5000, 5000, 5000, 5000, 3000, 3000, 3000, 3000, 5000, 5000, 5000, 5000, 3000, 5000, 5000, 5000, 3000, 5000, 5000, 3000, 3000, 5000, 3000, 3000, 3000, 5000, 3000, 5000, 3000, 3000, 5000, 5000, 3000, 5000, 5000, 5000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 5000, 5000, 5000, 5000, 5000, 3000, 5000, 5000, 5000, 5000, 5000, 5000, 5000, 3000, 5000, 5000, 5000, 3000, 5000, 5000, 3000, 3000, 3000, 3000, 5000, 3000, 5000, 3000, 5000, 3000, 5000, 3000, 5000, 3000, 5000, 3000, 5000, 5000, 3000, 3000, 5000, 5000, 3000, 3000, 3000, 5000, 5000, 5000, 3000, 5000, 5000, 3000, 5000, 5000, 5000, 3000, 5000, 3000, 3000, 5000, 5000, 3000, 3000, 5000, 5000, 3000, 3000, 5000, 5000, 5000, 5000, 5000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 5000, 3000, 5000, 5000, 5000, 3000, 5000, 5000, 3000, 3000, 3000, 5000, 3000, 5000, 5000, 5000, 5000, 5000, 5000, 5000, 3000, 5000, 5000, 3000, 5000, 5000, 3000, 5000, 5000, 3000, 5000, 5000, 5000, 5000, 5000, 3000, 5000, 5000, 3000, 5000, 5000, 3000, 5000, 3000, 5000, 3000, 5000, 3000, 3000, 5000, 3000, 5000, 5000, 3000, 5000, 5000, 3000, 5000, 5000, 5000, 5000, 3000, 3000, 5000, 3000, 5000, 3000, 5000, 3000, 3000, 5000, 3000, 3000, 3000, 5000, 3000, 5000, 5000, 3000, 3000, 3000, 5000, 3000, 5000, 5000, 3000, 5000, 3000, 5000, 3000, 3000, 3000, 5000, 3000, 5000, 5000, 5000, 5000, 5000, 3000, 5000, 5000, 5000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 5000, 5000, 3000, 3000, 5000, 3000, 3000, 5000, 3000, 3000, 5000, 3000, 5000, 5000, 5000, 3000, 3000, 5000, 5000, 3000, 3000, 5000, 5000, 3000, 5000, 5000, 3000, 5000, 3000, 3000, 3000, 5000, 5000, 5000, 5000, 3000, 5000, 5000, 5000, 3000, 5000, 3000, 5000, 5000, 3000, 5000, 5000, 5000, 3000, 3000, 5000, 5000, 5000, 3000, 5000, 3000, 5000, 5000, 5000, 5000, 3000, 5000, 5000, 3000, 5000, 5000, 5000, 5000, 3000, 3000, 3000, 5000, 5000, 3000, 5000, 5000, 5000, 5000, 5000, 3000, 5000, 5000, 3000, 3000, 5000, 5000, 5000, 5000, 3000, 5000, 3000, 5000, 5000, 5000, 3000, 5000, 5000, 3000, 3000, 5000, 5000, 5000, 5000, 3000, 3000, 5000, 5000, 5000, 3000, 5000, 5000, 3000, 5000, 5000, 5000, 3000, 5000, 5000, 5000, 5000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 5000, 5000, 5000, 5000, 3000, 5000, 5000, 3000, 5000, 5000, 5000, 5000, 3000, 5000, 5000, 5000, 3000, 5000, 5000, 5000, 5000, 3000, 5000, 5000, 5000, 5000, 5000, 5000, 5000, 3000, 5000, 5000, 5000, 5000, 5000, 3000, 5000, 5000, 3000, 5000, 3000, 3000, 5000, 5000, 5000, 3000, 3000, 5000, 5000, 5000, 5000, 5000, 5000, 5000, 3000, 5000, 5000, 3000, 5000, 5000, 5000, 5000, 5000, 3000, 5000, 5000, 3000, 3000, 3000, 3000, 5000, 5000, 3000, 3000, 5000, 3000, 5000, 5000, 3000, 3000, 3000, 5000, 5000, 5000, 5000, 3000, 5000, 3000, 5000, 5000, 3000, 3000, 3000, 5000, 5000, 5000, 5000, 5000, 5000, 5000, 5000, 3000, 5000, 3000, 3000, 5000, 5000, 5000, 3000, 3000, 3000, 5000, 5000, 3000, 3000, 5000, 5000, 3000, 3000, 5000, 5000, 5000, 3000, 3000, 3000, 3000, 3000, 5000, 5000, 5000, 3000, 5000, 3000, 3000, 5000, 5000, 3000, 3000, 5000, 5000, 3000, 5000, 5000, 3000, 3000, 5000, 5000, 5000, 5000, 3000, 5000, 3000, 3000, 5000, 3000, 5000, 3000, 3000, 3000, 5000, 5000, 5000, 3000, 3000, 5000, 5000, 5000, 3000, 5000, 5000, 5000, 5000, 3000, 5000, 5000, 3000, 5000, 3000, 3000, 3000, 3000, 5000, 3000, 5000, 5000, 5000, 5000, 3000, 5000, 3000, 5000, 5000, 5000, 5000, 5000, 3000, 5000, 5000, 5000, 5000, 3000, 3000, 3000, 3000, 3000, 5000, 5000, 5000, 5000, 5000, 3000, 5000, 5000, 3000, 5000, 5000, 5000, 3000, 3000, 5000, 5000, 5000, 5000, 5000, 5000, 3000, 5000, 5000, 5000, 5000, 5000, 5000, 5000, 3000, 5000, 5000, 3000, 3000, 3000, 5000, 5000, 5000, 3000, 3000, 5000, 5000, 3000, 3000, 5000, 3000, 3000, 5000, 5000, 3000, 3000, 5000, 3000, 3000, 5000, 5000, 3000, 5000, 5000, 3000, 5000, 5000, 3000, 5000, 3000, 5000, 5000, 5000, 3000, 3000, 5000, 5000, 3000, 3000, 5000, 3000, 5000, 5000, 5000, 5000, 5000, 5000, 3000, 5000, 3000, 5000, 3000, 5000, 5000, 5000, 5000, 3000, 3000, 3000, 5000, 5000, 5000, 5000, 5000, 3000, 5000, 5000, 5000, 5000, 5000, 3000, 3000, 5000, 5000, 5000, 3000, 5000, 5000, 5000, 5000, 5000, 5000, 3000, 5000, 5000, 3000, 3000, 3000, 3000, 3000, 5000, 5000, 3000, 5000, 5000, 5000, 5000, 5000, 5000, 3000, 3000, 3000, 5000, 3000, 5000, 5000, 3000, 3000, 5000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 5000, 5000, 3000, 5000, 3000, 3000, 3000, 5000, 5000, 3000, 5000, 5000, 5000, 5000, 5000, 3000, 3000, 5000, 5000, 3000, 3000, 3000, 5000, 3000, 5000, 3000, 5000, 3000, 3000, 5000, 5000, 5000, 3000, 5000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 5000, 5000, 3000, 5000, 3000, 5000, 5000, 5000, 3000, 5000, 3000, 5000, 3000, 5000, 5000, 5000, 3000, 3000, 3000, 5000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 5000, 5000, 3000, 3000, 3000, 3000, 5000, 3000, 5000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 5000, 5000, 5000, 3000, 3000, 3000, 5000, 3000, 3000, 5000, 3000, 5000, 5000, 5000, 3000, 3000, 5000, 5000, 5000, 3000, 5000, 5000, 5000, 3000, 5000, 5000, 5000, 5000, 3000, 5000, 3000, 3000, 5000, 5000, 5000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 5000, 3000, 5000, 3000, 3000, 5000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 5000, 3000, 5000, 5000, 5000, 3000, 5000, 3000, 3000, 5000, 5000, 3000, 3000, 5000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 5000, 5000, 3000, 5000, 5000, 3000, 5000, 3000, 3000, 3000, 5000, 5000, 5000, 5000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 5000, 5000, 5000, 5000, 5000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 5000, 3000, 5000, 3000, 3000, 3000, 5000, 3000, 5000, 3000, 3000, 5000, 5000, 5000, 5000, 5000, 3000, 5000, 3000, 3000, 3000, 5000, 5000, 5000, 3000, 5000, 5000, 5000, 5000, 5000, 3000, 3000, 5000, 3000, 5000, 5000, 5000, 3000, 5000, 3000, 5000, 3000, 5000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 5000, 5000, 3000, 5000, 5000, 3000, 3000, 3000, 5000, 5000, 3000, 5000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 5000, 5000, 3000, 5000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 5000, 5000, 3000, 5000, 5000, 5000, 3000, 5000, 3000, 5000, 5000, 3000, 3000, 5000, 5000, 3000, 3000, 5000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 3000, 5000, 3000, 5000, 5000, 5000, 5000, 3000, 3000, 5000, 3000, 3000, 5000, 5000, 5000, 5000, 3000, 3000, 3000, 5000, 3000, 3000, 3000, 3000, 3000, 5000, 5000, 5000, 5000, 3000, 5000, 3000, 5000, 5000, 5000, 3000, 3000, 5000, 3000, 5000, 3000, 5

In [20]:
Ins=[]
for x in df['Age']:
    if (20<=x<=27):
        if 'Female' in(df['Gender']):
            i=3000+(3000*10/100)
            Ins.append(i)
        else:
             Ins.append(3000)
    elif 27<x<=35:
        if 'Female' in(df['Gender']):
            i=5000+(5000*12/100)
            Ins.append(i)
        else:
            Ins.append(5000)
    elif x>35:
        if 'Female' in(df['Gender']):
            i=9000+(9000*15/100)
            Ins.append(i)
        else:
            Ins.append(9000)

In [21]:
df['InsuranceAmaount']=Ins
df['InsuranceAmaount'].unique()

array([5000, 9000, 3000])

In [22]:
df

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot,NewExperience,ExperienceCategory,InsuranceAmaount
0,Bachelors,2017,Bangalore,3,34,Male,No,0,0,1,Junior,5000
1,Bachelors,2013,Pune,1,28,Female,No,3,1,4,Junior,5000
2,Bachelors,2014,New Delhi,3,38,Female,No,2,0,3,Junior,9000
3,Masters,2016,Bangalore,3,27,Male,No,5,1,6,Senior,3000
4,Masters,2017,Pune,3,24,Male,Yes,2,1,3,Junior,3000
...,...,...,...,...,...,...,...,...,...,...,...,...
4648,Bachelors,2013,Bangalore,3,26,Female,No,4,0,5,Senior,3000
4649,Masters,2013,Pune,2,37,Male,No,2,1,3,Junior,9000
4650,Masters,2018,New Delhi,3,27,Male,No,5,1,6,Senior,3000
4651,Bachelors,2012,Bangalore,3,30,Male,Yes,2,0,3,Junior,5000
4652,Bachelors,2015,Bangalore,3,33,Male,Yes,4,0,5,Senior,5000

In [23]:
df.InsuranceAmaount.unique()

array([5000, 9000, 3000])

In [24]:
Ins1=[]
for x in df['Age']:
    if (20<=x<=27):
        for y in df['Gender']:
            if y=='Female':
                    i=3000+(3000*10/100)
                    Ins1.append(i)
            else:
                Ins1.append(3000)
    elif 27<x<=35:
        for y in df['Gender']:
            if y=='Female':
                    i=5000+(5000*12/100)
                    Ins1.append(i)
            else:
                Ins1.append(5000)
    elif x>35:
        for y in df['Gender']:
            if y=='Female':
                    i=9000+(9000*15/100)
                    Ins1.append(i)
            else:
                Ins1.append(9000)

In [26]:
df['InsuranceAmaount1']=Ins1
df.InsuranceAmaount1.unique()

ValueError: ignored

In [27]:
for x in df['Age']:
    for y in df['Gender']:
        for z in df['EverBenched']:
            Ins=[]
            if z=='Yes':
                if y=='Male':
                    if (20<=x<=27):
                        i=3000+(3000*2/100)
                        Ins.append(i)
                    elif 27<x<=35:
                        i=5000+(5000*2/100)
                        Ins.append(i)
                    elif x>35:
                        i=9000+(9000*2/100)
                        Ins.append(9000)
                else:
                    if (20<=x<=27):
                        i=3000+(3000*10/100)+(3000*2/100)
                        Ins.append(i)
                    elif 27<x<=35:
                        i=5000+(5000*12/100)+(5000*2/100)
                        Ins.append(i)
                    elif x>35:
                        i=9000+(3000*15/100)+(9000*2/100)
                        Ins.append(i)
            else:
                if y=='Male':
                    if (20<=x<=27):
                        i=3000
                        Ins.append(i)
                    elif 27<x<=35:
                        i=5000
                        Ins.append(i)
                    elif x>35:
                        i=9000
                        Ins.append(9000)
                else:
                    if (20<=x<=27):
                        i=3000+(3000*10/100)
                        Ins.append(i)
                    elif 27<x<=35:
                        i=5000+(5000*12/100)
                        Ins.append(i)
                    elif x>35:
                        i=9000+(3000*15/100)
                        Ins.append(i)

KeyboardInterrupt: ignored

In [ ]:
df['InsuranceAmaount']=Ins

In [ ]:
def Insurance():
    for for x in df['Age']:
    for y in df['Gender']:
        if y=='Male':
            if (20<=x<=27):
                Ins.append(3000)
            elif 27<x<=35:
                Ins.append(5000)
            elif x>35:
                Ins.append(9000)
        else:
            if (20<=x<=27):
                i=3000+(3000*10/100)
                Ins.append(i)
            elif 27<x<=35:
                i=5000+(5000*12/100)
                Ins.append(i)
            elif x>35:
                i=9000+(9000*15/100)
                Ins.append(i)